* {
	padding: 0;
	margin: 0;
	color: rgb(238, 238, 238);
	background-color: rgb(27, 27, 27);
}
a {
	color: rgb(173, 100, 241);
	text-decoration: none;
	font-size: bold;
}
a:hover {
	text-decoration: underline;
}
h1 {
	text-align: center;
	margin: 5vh auto;
	font-size: 4vw;
	color: rgb(27, 27, 27);
	background-color: rgba(238, 238, 238, 0.774);
	width: fit-content;
	padding: 1.2vw 2vw;
	border-radius: 10px;
}
main {
	width: 70%;
	margin: auto;
	font-size: 1vw;
}
li {
	margin: 2vh 0;
	list-style-type: decimal-leading-zero;
}
#intro {
	padding: 2vh 6vw;
}
.comment {
	color: rgba(238, 238, 238, 0.3);
}
.code {
	color: rgb(84, 187, 75);
	font-weight: bold;
}
.flex {
	display: flex;
	justify-content: space-between;
}
.flexChild {
	width: 47%;
}
.underline {
	text-decoration: underline;
}

.fas {
	font-size: smaller;
	transform: translateY(2px);
	color: inherit;
}
