$colorMain: rgb(238, 238, 238);
$colorSecond: rgb(27, 27, 27);
$colorLinks: rgb(173, 100, 241);
$colorBash: rgb(84, 187, 75);
$colorComments: transparentize($colorMain, 0.7);

$fontMain: "Ubuntu", sans-serif;
$fontTitles: "Fredericka the Great", cursive;
$fontSpecial: "Monoton", cursive;
