.intro {
	width: fit-content;
	margin: auto;
	padding: 3vh;
}
.list {
	&__item {
		padding: 2vh 5vw;
		margin: 0 5vw;
		list-style-type: decimal-leading-zero;
		&--light {
			background-color: lighten($colorSecond, 10);
		}
		.flex__child {
			width: 47%;
		}
	}
}
